GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
TAVILY_API_KEY=
TAVILY_SEARCH_DEPTH=advanced
TAVILY_FETCH_SIZE=12
MAX_CLAIMS=8
WEB_RESULTS_PER_CLAIM=4
WEB_RESULTS_CAP=6
MAX_CONCURRENT_SEARCHES=4
SEARCH_CACHE_TTL_SECONDS=3600
SEARCH_CACHE_POOL_SIZE=8
MAX_PDF_CHARS=12000
MAX_SNIPPET_CHARS=320
CACHE_TTL_SECONDS=1200
